---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <ul class="w-full flex justify-center list-none">
    <li><i class="bx bxl-facebook bx-tada"></i></li>
    <li><i class="bx bxl-twitter bx-tada"></i></li>
    <li><i class="bx bxl-whatsapp bx-tada"></i></li>
  </ul>
</Layout>

<style>
  li {
    border: 2px solid rgb(45, 44, 44);
    font-size: 30px;
    display: inline-flex;
    padding: 10px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 1px 1px 1px 1px black;
  }
</style>
