---
import "@fontsource/merriweather";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <img
    class="w-full mt-24 object-cover"
    decoding="async"
    loading="lazy"
    src="/public/images/imagenInicio.png"
    alt=""
  />

  <h4 class="p-6 text-3xl text-center tracking-wide font-normal">
    A few words about this blog platform, Ghost, and how this site was made
  </h4>
</Layout>

<style>
  h4 {
    font-family: "Merriweather", sans-serif;
  }
</style>
