---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="pt-4">
    <div class="border-b-8 border-b-black w-full"></div>

    <h3 class="text-center pt-3 m-3 text-2xl font-bold tracking-widest">
      Sign up for the newsletter
    </h3>

    <p class="text-center -translate-y-3 p-4">
      If you want relevant updates occasionally, sign up for the private
      newsletter. Your email is never shared.
    </p>

    <div class="flex items-center justify-center m-2 mb-2">
      <input
        class="text-black border-2 border-black p-4"
        placeholder="Enter your email"
        type="text"
      />
      <button
        class="bg-black border-2 border-black text-white p-4"
        type="submit">SIGN UP</button
      >
    </div>

    <div class="border-b-4 border-b-black w-full mb-5"></div>
  </div>
</Layout>
