---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="p-4">
    <div class="border-b-4 border-b-black w-full"></div>

    <h3>Sign up for the newsletter</h3>

    <p>
      If you want relevant updates occasionally, sign up for the private
      newsletter. Your email is never shared.
    </p>
    <div class="border-b-4 border-b-black w-full"></div>
  </div>
</Layout>
