---
import { fullYear } from "../../utils/fechaActual";
import BoxSocialsIcon from "./BoxSocialsIcons.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="border-b-2 border-b-black w-[90%]"></div>
  <div class="w-[80%] flex flex-col justify-center p-3 text-xl">
    <h3 class="font-bold tracking-widest">Lil Dree</h3>
    <h3 class="">
      {fullYear}
    </h3>
  </div>
  <BoxSocialsIcon />
</Layout>
