---
import Layout from '../helpers/SeeAll.astro';
---

<Layout>
  <section class="sm:pb-28 sm:pt-8">
    <a
      class="text-[#EDEDEC] border-solid border-white border-b-2 font-semibold text-base dark:text-[#1B1B18] dark:border-[#1B1B19]"
      href="/Blog/"
    >
      See All
    </a>
  </section>
</Layout>
