---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Alvaro Aburto - Dev Web & Movil" >
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo architecto quo similique temporibus unde vero est id nesciunt soluta quam quis ea voluptas alias itaque totam delectus, dicta recusandae cumque!
  </p>
</Layout>