---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav/Nav';
import { fade } from 'astro:transitions';
import BlogFilter from "../components/blog/BlogFilter"
---

<Layout title="Blog | Alvaro Aburto">
  <section class="w-full dark:bg-[#FCFCFC]">
    <div
      class="w-full relative md:sticky top-0 z-20 bg-[#101010] dark:bg-[#FCFCFC]"
      transition:animate="slide"
    >
      <Nav client:only />
    </div>
    <main
      transition:animate={fade({ duration: '2s' })}
      class="min-h-screen px-6 pt-16 pb-24 md:pb-44 sm:max-w-[700px] mx-auto"
    >
      <section>
        <h1 class="text-[#ededec] text-[35px] font-bold dark:text-[#1b1b18]">
          Blog
        </h1>
        <p class="text-[#a1a09a] text-[18px] font-semibold dark:text-[#706f6c]">
          6 posts about code, weight-lifting, food, and more ...
        </p>
        <section>
          <BlogFilter client:only />
        </section>
      </section>
    </main>
  </section>
</Layout>
