---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav";
import Header from "../components/Header.astro";
import Articles from "../components/Articles";
---

<Layout title="Blog lil dree">
  <main>
    <Nav />
    <Header />
    <Articles client:only />
  </main>
</Layout>
