---
import Layout from "../layouts/Layout.astro";
import "@fontsource-variable/lora";

import Nav from "../components/nav/Nav.astro"
---

<Layout title="Alvaro Aburto - DEV WEB & MOVIL">
  <main>
    <Nav/>
  </main>
</Layout>
