---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/lora';

import Nav from '../components/nav/Nav.jsx';
import Header from '../components/header/Header.astro';
---

<Layout title="Alvaro Aburto - Dev Web & Movil">
    <main transition:animate="slide" class="min-h-screen dark:bg-[#FCFCFC] ">
      <Nav client:only />
      <Header />
    </main>
</Layout>
