---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav/Nav';
import { fade } from 'astro:transitions';
import Socials from '../components/socials/Socials.astro';
---

<Layout title="Alvaro Aburto - Dev Web & Movil">
  <section class="dark:bg-[#FCFCFC] min-h-screen">
    <div class="w-full relative md:sticky top-0 z-20 bg-[#101010] dark:bg-[#FCFCFC]" transition:animate="slide">
      <Nav client:only />
    </div>
    <div class="pt-[20px] pb-5">
      <img
        transition:animate="slide"
        class="rounded-full mx-auto h-[190px] w-[110px] object-cover"
        src="/images/imagePersonal/AlvaroHoddieWhite.png"
        alt="Alvaro Aburto"
      />
    </div>
    <div class="mx-10 max-w-[600px] sm:mx-auto">
      <h1
        transition:animate={fade({ duration: '2s' })}
        class="font text-2xl tracking-tight antialiased text-[#EDEDEC] font-bold dark:text-[#1B1B18] text-center"
      >
        Alvaro Aburto
      </h1>
      <p
        transition:animate={fade({duration: "3s"})}
        class="text-[#a1a09a] font-semibold mx-auto dark:text-[#1B1B18] text-center max-w-sm"
      >
        Software engineer who loves building cool things with code. In addition
        to coding, I also make YouTube videos. Find me elsewhere @diego__cb
      </p>
      <div class="mt-10" transition:animate="slide">
        <Socials />
      </div>
    </div>
  </section>
</Layout>
