---
import Layout from '../../layouts/Layout.astro';
import '../header/header.css';
import BlogHeader from '../blog/BlogHeader.astro';
import contactme from '../../utils/contact';
---

<Layout>
  <section class="dark:bg-[#FCFCFC] w-full">
    <section class="w-[342px] mx-auto mt-[54px]">
      <div>
        <h1
          class="font text-3xl tracking-tight antialiased text-[#EDEDEC] font-bold dark:text-[#1B1B18]"
        >
          Alvaro Aburto Ocampo
        </h1>
        <p class="font-semibold text-[#A1A09A] dark:text-[#706f6c]">
          Desarrollador web & movil full-stack
        </p>
      </div>
      <div class="mt-[54px]">
        <p class="font-normal dark:text-[#1B1B18]">
          Hi, I'm Diego Cabrera, a computer science student who enjoys coding,
          writing, working- out, and teaching. In addition to coding, I also
          make YouTube videos, where I teach mathematics, creative videos on
          code, and personal development.
        </p>
      </div>
      <div class="mt-[34px]">
        {
          contactme.map((contact) => (
            <section class="flex items-center gap-2 font-normal text-lg">
              <img src="/images/svgIcons/arrow.svg" alt="" />
              <ul class="text-[#A1A09A] font-medium py-1">
                <li>
                  <a href="mailto:alvaroaburto71@gmail.comsubject=Asunto del correo&body=Cuerpo del mensaje">
                    {contact.contact}
                  </a>
                </li>
                <li>{contact.email} </li>
                <li>{contact.resume} </li>
              </ul>
            </section>
          ))
        }
      </div>
      <h4
        class="font-normal text-lg text-[#EDEDEC] mt-[50px] dark:text-[#1B1B18]"
      >
        Latest Blogs
      </h4>
      <BlogHeader />
    </section>
  </section>
</Layout>
