@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 40px;
}

.list-li {
  overflow: hidden;
  padding: 8px 16px;
  font-size: 17px;
  font-weight: 400;
}

.link-menu {
  color: whitesmoke;
  width: 100%;
  padding-right: 100%;
}


@media screen and (min-width: 650px) {
  .list-ul {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  .list-li {
    width: 100%;
    margin: 0 auto;
  }
}