<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boxs icons socials</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="">
    <ul class="w-full flex justify-around border-2 border-black shadow-2xl p-2">
      <li><i class="bx bxl-facebook bx-tada border-2 p-1"></i></li>
      <li><i class="bx bxl-twitter bx-tada border-2 p-1"></i></li>
      <li><i class="bx bxl-whatsapp bx-tada border-2 p-1"></i></li>
    </ul>
  </body>
</html>

<style>
  li {
    font-size: 2rem;
  }
</style>
