---
import "@fontsource/merriweather";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <img
    class="mt-10 object-fill"
    decoding="async"
    loading="lazy"
    src="/public/images/imagenInicio.png"
    alt=""
  />

  <h4 class="p-10 text-3xl text-center tracking-wide font-normal">
    A few words about this blog platform, Ghost, and how this site was made
  </h4>

  <div class='border-b-2 border-b-black "'></div>
</Layout>

<style>
  h4 {
    font-family: "Merriweather", sans-serif;
  }
</style>
