---
const fechaActual = new Date();
import "boxicons";
---

<h2>Lil Dree</h2>
<p>{fechaActual}</p>

<ul>
  <li><box-icon type="logo" name="whatsapp"></box-icon></li>
  <li><i class="bx bxl-twitter"></i></li>
  <li><i class="bx bxl-whatsapp bx-tada"></i></li>
</ul>
