---
const fechaActual = new Date();
---

<h2>Lil Dree</h2>
<p>{fechaActual}</p>

<ul>
  <h1>Hello Word</h1>
  <li><i class="bx bxl-facebook-square"></i></li>
  <li><i class="bx bxl-twitter"></i></li>
  <li><i class="bx bxl-whatsapp bx-tada"></i></li>
</ul>
