---
import Layout from '../../layouts/Layout.astro'
import articulos from '../../utils/articles.js'
---

<Layout>
  <section class="mt-[54px]">
    <h4 class="font-semibold text-lg">Latest Blogs</h4>
    {articulos.map((article) => <div></div>)}
  </section>
</Layout>
