---
import Layout from '../../layouts/Layout.astro';
import articulos from '../../utils/articles.js';

const articulo = articulos.slice(0, 4);
---

<Layout title="Blog">
  <section class="dark:bg-[#FCFCFC] h-screen max-w-[700px] sm:w-full my-3">
    {
      articulo.map((article) => (
        <div class="flex justify-between items-center py-4 group relative">
          <div class="relative overflow-hidden">
            <h6 class="text-[#A1A09A] font-medium">{article.fechaCreacion}</h6>
            <h3 class="text-[#EDEDEC] text-lg font-semibold pt-2 dark:text-[#1B1B18] group-hover:opacity-0 relative z-10 transition-opacity duration-300">
              {article.titulo}
            </h3>
          </div>
          <div class="w-[96px] h-[96px] absolute top-0 left-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-20">
            <img
              class="w-full h-full object-cover rounded-xl"
              src={article.imagenURL}
              alt="imageArticle"
            />
          </div>
        </div>
      ))
    }
  </section>
</Layout>






    <!-- <section class="">
      <a
        class="text-[#EDEDEC] border-solid border-white border-b-2 font-semibold text-base dark:text-[#1B1B18] dark:border-[#1B1B19]"
        href="#"
      >
        See All</a
      >
    </section> -->