---
import Layout from "../../layouts/Layout.astro"

const imageStyle = "w-12 h-12"

---


<Layout>
  <nav>
    <div>
      <img class="" src="/images/logoPersonalWhite.png" alt="logoPersonal">
    </div>
    <div>
      <h1>
        menu
      </h1>
    </div>
  </nav>
</Layout>