---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <nav
    class="overflow-hidden w-[390px] h-[60px] flex justify-between items-center"
  >
    <div>
      <img
        class="w-12 h-12"
        src="/images/logoPersonalWhite.png"
        alt="logoPersonal"
      />
    </div>
    <div class="flex gap-7 items-center">
      <div class="flex items-center" >
      <span>menu</span>
        <img src="/images/pngIcons/iconPlus.png" alt="" />
      </div>
      <div>
        <img src="/images/pngIcons/moodIcon.png" alt="" />
      </div>
    </div>
  </nav>
</Layout>
