---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
  <nav
    class="overflow-hidden w-[390px] h-[60px] flex justify-between items-center"
  >
    <div class="translate-x-7 pt-1">
      <img
        class="w-10 h-10 rounded-md "
        src="/images/logoPersonalWhite.png"
        alt="logoPersonal"
      />
    </div>
    <div class="flex gap-3 items-center">
      <div class="flex items-center" >
      <span class="text-[#A1A09A]">Menu</span>
        <img src="/images/pngIcons/iconPlus.png" alt="" />
      </div>
      <div class="pr-4" >
        <img src="/images/pngIcons/moodIcon.png" alt="" />
      </div>
    </div>
  </nav>
</Layout>
